/*
	There are several way to use this:

	1. Just add `.c-infobox` to an element, it will render as tooltip on hover upon its direct parent

	```html
	<button>
		<i class="...icon-classes.."></i>
		<span class="c-infobox">Edit</span>
	</button>
	```

	2. Add `.c-infobox-anchor` to an ancestor, in case you need the infobox to be anchored to an
     element other than its direct parent

	```html
	<div class="c-infobox-anchor"> \3c !-- anchored here -->
		<button>
			<i class="...icon-classes.."></i>
			<span class="c-infobox">Edit</span>
		</button>
	</div>
	```

	3. Set `--anchor` on `.c-infobox` to explicitly specify its anchor. This is useful, for example,
     when the target anchor is already an anchor for something else (e.g. a popover).

	```svelte
	<button popovertarget="more-actions">
		<i class="...icon-classes.."></i>
		<span class="c-infobox" style:--anchor="--trigger">More actions</span>
	</button>
	```

	4. Set `.c-infobox-anchor` on a preceding sibling of the `.c-infobox` to anchor it to that element
     instead of its direct parent.

	```svelte
	<button class="c-infobox-anchor">
		<i class="...icon-classes.."></i>
	</button>
	<span class="c-infobox">More actions</span>
	```

	5. Add `.c-infobox-preview` for rich hover content (e.g. document thumbnails) instead of the default dark text tooltip styling.
*/
@utility c-infobox {
	@layer components {
		*:not(:hover, :active, :focus-visible, :has(> .c-infobox-anchor)) > &,
		.c-infobox-anchor:not(:hover, :active, :focus-visible) ~ & {
			@apply sr-only;
		}

		*:has(> &):not(.c-infobox-anchor *) {
			anchor-scope: var(--anchor, --infobox);

			&:not(:has(> .c-infobox-anchor)) {
				position: relative;
				anchor-name: var(--anchor, --infobox);
			}
		}

		*:is(:hover, :active, :focus-visible) > &,
		.c-infobox-anchor:is(:hover, :active, :focus-visible) ~ & {
			position: fixed;
			z-index: var(--z-index-popup);
			position-anchor: var(--anchor, --infobox);
			position-area: block-start span-inline-start;
			position-try-order: most-inline-size;
			position-try-fallbacks: flip-inline, flip-block;

			margin-block-end: 0.25rem;
			padding: 0.25rem 0.5rem;
			border: 1px solid var(--color-fill-50);

			font-size: 0.875rem;
			color: var(--color-fill-50);

			background-color: hsl(from var(--color-stroke-50) h s l / 90%);
		}
	}
}

@utility c-infobox-anchor {
	@layer components {
		anchor-name: var(--anchor, --infobox);

		&:not(:has(~ .infobox)) {
			position: relative;
			anchor-name: var(--anchor, --infobox);
		}
	}
}
