@import '../0-custom/medias';

@theme {
	--spacing-header: 3.6875rem; /* 59px */
	--spacing-section: calc(var(--spacing) * 10);
	--spacing-section-more: calc(var(--spacing) * 20);
	--spacing-intro-pad-top: calc(var(--spacing) * 20);
}

@layer base {
	:root {
		@media (--tablet) {
			--spacing-section: calc(var(--spacing) * 15);
			--spacing-section-more: calc(var(--spacing) * 28);
			--spacing-intro-pad-top: calc(var(--spacing) * 32);
		}

		@media (--desktop) {
			--spacing-header: 6.25rem; /* 100px */
			--spacing-section: calc(var(--spacing) * 20);
			--spacing-section-more: calc(var(--spacing) * 32);
			--spacing-intro-pad-top: calc(var(--spacing) * 36);
		}
	}
}
