@layer markdown.enhance-code-block.base {
	:root {
		--c-font-family: var(--font-fira);
		--c-header-font-family: var(--font-inter);
	}

	/* FIXME: remove when this is fixed upstream at remark-enhance-codeblock */
	.codeblock-root {
		font-family: var(--c-font-family, var(--cd-font-family));

		& .codeblock-header {
			font-family: var(--c-header-font-family, var(--cd-header-font-family));
		}

		& :is(pre, code) {
			font-family: inherit;
		}
	}
}
