.codeblock-content {
	container-type: inline-size;
}

/* inherit styles from remark-enhance-codeblock */
.shiki {
	counter-reset: line 0;

	width: max-content;
	min-width: calc(100cqi + var(--c-padding-inline, var(--cd-padding-inline)) * 2);
	margin-inline: calc(var(--c-padding-inline, var(--cd-padding-inline)) * -1);

	background-color: var(--c-content-bg, var(--cd-content-bg)) !important;

	/* https://shiki.style/packages/transformers#transformerrenderindentguides */
	& .indent {
		position: relative;
		left: var(--indent-offset);
		display: inline-block;

		&::before {
			content: '';

			position: absolute;

			width: 1px;
			height: 100%;

			opacity: 0.15;
			background-color: currentcolor;
		}

		&:empty {
			height: 1lh;
			vertical-align: bottom;
		}
	}

	/* https://shiki.style/packages/transformers#transformermetawordhighlight */
	& .highlighted-word {
		background-color: light-dark(
			hsl(from currentcolor h s calc(l + 20) / 20%),
			hsl(from currentcolor h s calc(l - 20) / 40%)
		);
	}

	& .line {
		--color-bg-info: light-dark(hsl(199.4deg 100% 93.3%), hsl(215deg 39% 20%));
		--color-bg-warning: light-dark(hsl(52.8deg 100% 88.6%), hsl(43deg 100% 12%));
		--color-bg-success: light-dark(hsl(134.4deg 100% 95.1%), hsl(123.04deg 36.07% 12%));
		--color-bg-error: light-dark(hsl(5.5deg 100% 95.7%), hsl(3.12deg 74.76% 12%));
		--inline-start: 2ch;
		--inline-end: 3ch;
		--bg: var(--c-content-bg, var(--cd-content-bg));

		display: inline-block;

		box-sizing: border-box;
		width: 100%;
		padding-inline: var(--inline-start) var(--inline-end);

		background-color: var(--bg);

		&::before {
			--width: max(2ch, calc((round(up, log(var(--max-line), 10)) + 2) * 1ch));

			content: '';

			position: sticky;
			z-index: 2;
			inset-inline-start: calc(var(--inline-start) * -1);

			display: inline-block;

			width: var(--width);
			padding-inline-end: 2ch;

			font-size: 1em;
			font-variant-numeric: tabular-nums;
			color: hsl(from currentcolor h s l / 40%);
			text-align: end;

			background-color: var(--bg);
		}

		&:not(.diff.remove) {
			counter-increment: line 1;

			&::before {
				content: counter(line);
			}
		}

		&.highlighted.info {
			--bg: var(--color-bg-info);
		}

		&.highlighted.success {
			--bg: var(--color-bg-success);
		}

		&.highlighted.warning {
			--bg: var(--color-bg-warning);
		}

		&.highlighted.error {
			--bg: var(--color-bg-error);
		}

		&.diff {
			position: relative;

			&::after {
				position: absolute;
				inset-inline-start: 1ch;
				font-size: 1em;
				text-align: center;
			}

			&.add {
				--bg: var(--color-bg-success);

				&::after {
					content: '+';
					color: green;
				}
			}

			&.remove {
				--bg: var(--color-bg-error);

				&::after {
					content: '-';
					color: red;
				}
			}
		}
	}

	&:not(.has-diff) .line {
		--inline-start: 1ch;

		&::after {
			display: none;
		}
	}

	&.has-focused {
		& .line:not(.focused) {
			opacity: 0.5;
			filter: blur(0.05rem);

			transition-timing-function: ease-in;
			transition-duration: 200ms;
			transition-property: opacity, filter;
		}

		.codeblock-root:is(:focus-within, :hover) & .line:not(.focused) {
			opacity: 1;
			filter: blur(0);
			transition-timing-function: ease-out;
		}
	}
}
